<div *ngIf="id">
  <div>
    id: <span>{{ id }}</span>
  </div>
  <div>
    title: <span>{{ topic.title }}</span>
  </div>
  <div>
    description: <span>{{ topic.description }}</span>
  </div>
</div>

<div *ngIf="!id">
  new topic
</div>

<form (ngSubmit)="onSubmit()" #topicForm="ngForm">
  <mat-form-field>
    <input matInput [(ngModel)]="topic.title" required placeholder="Title">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput [(ngModel)]="topic.description" placeholder="Descritpion"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="topic.email" required placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <button mat-button [disabled]="!topicForm.form.valid">SUBMIT</button>
  </mat-form-field>
</form>
