<div class="edit-container">

  <form (ngSubmit)="onSubmit()" class="topic-form" #topicForm="ngForm">

    <div class="form-group">
      <mat-form-field class="topic-full-width">
        <input matInput [(ngModel)]="topic.title" name="title" required length="100" placeholder="Title">
      </mat-form-field>      
    </div>

    <div class="form-group">
      <mat-form-field class="topic-full-width">
        <input matInput [(ngModel)]="topic.email" name="email" required placeholder="Email">
      </mat-form-field>      
    </div>

    <div class="form-group">
      <mat-form-field class="topic-full-width">
        <textarea matInput [(ngModel)]="topic.description" name="description" placeholder="Descritpion"></textarea>
      </mat-form-field>      
    </div>

    <div class="form-group">
      <button mat-button>SAVE</button> 
    </div>

  </form>

</div>
