.container {
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-flow: row wrap;
}

.topicContainer {
  margin: 0.5em;
  padding: 0.4em;
}

.topic-card {
  max-width: 400px;
}

.selected {
  background: antiquewhite;
}