<div class="headContainer">
  <mat-slide-toggle (click)="toggleLoad()">{{ showAvailable ? 'SHOW AVAILABLE' : 'SHOW ALL'}}</mat-slide-toggle>
  <div *ngIf="showAvailable">Next talk is on {{nextTalk.date | date: shortDate }} </div>
</div>

<div class="container">

  <div class="topicContainer" 
    [class.selected]="topic === selectedTopic" 
    *ngFor="let topic of topics" 
    (click)="onSelect(topic)">

    <app-topic-detail 
      [topic]="topic" 
      [deleteHandler]="deleteTopic">
    </app-topic-detail>

  </div>
</div>
